<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="description" content="Pagina Inicial da aplicação">
    <meta name="keywords" content="pagina-inicial, pagina-home, inicio, home, inicial, index, ...">
    <meta name="author" content="Dev Academy">
    <meta name="revisit-after" content="60 days">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <link rel="icon" th:href="@{/ico/favicon.ico}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Inicio</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        .body-align {
/*             border: 2px solid #000000; */
            padding-top: 2%;
            padding-left: 5%;
            padding-right: 5%;
            text-align: center;
        }
    </style>
</head>
<body class="w3-light-grey">

<div class="w3-container w3-blue w3-padding">
    <h2>Home | Início</h2>
</div>

<div class="w3-container w3-margin-top" style="min-height: 400px;">
    <!-- Card principal -->
    <div class="w3-card w3-white w3-padding w3-round-large">
        <h3 class="w3-text-dark-grey">Lista de Mensagens</h3>

        <!-- 🔎 Formulário de pesquisa -->
        <form class="w3-row w3-margin-bottom"
              th:action="@{/home}" method="get">
            <div class="w3-col s9">
                <input class="w3-input w3-border w3-round"
                       type="text"
                       name="searchText"
                       th:value="${searchText}"
                       placeholder="Digite o texto para buscar..."/>
            </div>
            <div class="w3-col s3">
                <button class="w3-button w3-blue w3-round w3-block"
                        type="submit">
                    Buscar
                </button>
            </div>
        </form>

        <!-- 📄 Lista de mensagens -->
        <ul class="w3-ul w3-hoverable w3-card-4 w3-round">
            <li class="w3-padding"
                th:each="msg : ${apiResponse['_embedded']['homeDTOList']}">
                <span class="w3-text-grey"
                      th:text="${msg['message']}">
                </span>
            </li>
        </ul>

        <!-- ⚠ Caso não tenha mensagens -->
        <div class="w3-panel w3-yellow w3-round w3-margin-top"
             th:if="${#lists.isEmpty(apiResponse['_embedded']['homeDTOList'])}">
            Nenhuma mensagem encontrada.
        </div>

        <!-- 🔁 Paginação -->
        <div class="w3-center w3-margin-top">
            <a class="w3-button w3-light-grey w3-round w3-margin-right"
               th:if="${apiResponse['_links']['prev'] != null}"
               th:href="@{/home(page=${apiResponse['_links']['prev']['href'].split('page=')[1].split('&')[0]}, searchText=${searchText})}">
                ◀ Anterior
            </a>

            <a class="w3-button w3-blue w3-round"
               th:if="${apiResponse['_links']['next'] != null}"
               th:href="@{/home(page=${apiResponse['_links']['next']['href'].split('page=')[1].split('&')[0]}, searchText=${searchText})}">
                Próxima ▶
            </a>
        </div>
    </div>
</div>
</body>
</html>